:host{
    display: flex;
    align-items: left;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 1000px;
    height: 100vh;
}
.title{
    font-size: 30px;
    text-align: center;
    line-height: 2;
}
.subtitle{
    text-align: center;
    font-size: 27px;
    line-height: 1.5;
}

.subtitle2{
    text-align: left;
    font-size: 27px;
    line-height: 1.5;
}