
<mat-card>
    <mat-card-title class = "title">You're moving to the Valley...</mat-card-title>
    <mat-card-subtitle class = "subtitle">You've inherited your grandfather's old farm plot in Stardew Valley.</mat-card-subtitle>
    <mat-card-subtitle class = "subtitle">Armed with hand-me-down tools and a few coins, you set out to begin your new life!</mat-card-subtitle>
    <img mat-card-image src = "assets/Home.png"  alt="home">
    <mat-card-title class="title">Features</mat-card-title>
    <mat-card-subtitle class="subtitle2"><b>Create the farm of your dreams:</b>Turn your overgrown fields into a lively and bountiful farm!</mat-card-subtitle>
    <mat-card-subtitle class="subtitle2"><b>Learn to live off the land:</b> Raise animals, go fishing, tend to crops, craft items, or do it all! The choice is yours...</mat-card-subtitle>
    <mat-card-subtitle class="subtitle2"><b>Become a part of the local community:</b> Pelican Town is home to over 30 residents you can befriend!</mat-card-subtitle>
    <mat-card-subtitle class="subtitle2"><b>Meet someone special:</b> With 12 townsfolk to date, you may even find someone to start a family with!</mat-card-subtitle>
    <mat-card-subtitle class="subtitle2"><b>Explore vast, mysterious caves:</b> Encounter dangerous monsters & valuable treasures deep underground!</mat-card-subtitle>
    <mat-card-subtitle class="subtitle2"><b>Customize:</b> There are hundreds of character & home decoration options to choose from!</mat-card-subtitle>
 
    <img mat-card-image>
</mat-card>
